footer.footer 
 .container 
  .footer__col.wow.animate__zoomIn(data-wow-duration="7s") 
    strong.logo MNTN
    p.text Get out there & discover your next slope, mountain & destination!
    p(style="opacity:0.5;") Copyright 2019 MNTN, Inc. Terms & Privacy
  
  .footer__col.wow.animate__zoomIn(data-wow-duration="8s")  
    nav.footer-nav 
      ul 
        li.footer-nav__title More on The Blog
         each name in ['About MNTN', 'Contributors & Writers', 'Write For Us', 'Contact Us', 'Privacy Policy']
           li 
              a(href="#")=name
  .footer__col.wow.animate__zoomIn(data-wow-duration="9s")  
    nav.footer-nav 
      ul 
        li.footer-nav__title More on MNTN
         each name in ['The Team', 'Jobs', 'Press']
           li 
              a(href="#")=name