section.info
  .container
    .info__content
      span.info__n.rellax(data-rellax-speed="-1") 01

      span.label.wow.animate__fadeInLeft(data-wow-duration="2s") GEt Started

      h2.h2.wow.animate__fadeInLeft(data-wow-duration="3s")(style="max-width: 555px") What level of  hiker are you?

      p.text.wow.animate__fadeInLeft(data-wow-duration="4s", style="visibility: hidden") Determining what level of hiker you are can be an important tool when planning future hikes. This hiking level guide will help you plan hikes according to different hike ratings set by various websites like All Trails and Modern Hiker. What type of hiker are you – novice, moderate, advanced moderate, expert, or expert backpacker?

      a.link.link_accent.wow.animate__fadeInLeft(href="#", data-wow-duration="5s", style="visibility: hidden")
        span read more
        img(src="../img/strelka.svg", alt="")
    
    div.info__img.wow.animate__zoomIn(data-wow-duration="2s", id="scene1",  data-relative-input="true")
      img(src="../img/content/1.png", alt="", data-depth="0,2")


section.info
  .container
    .info__content
      span.info__n.rellax(data-rellax-speed="-1") 02

      span.label.wow.animate__fadeInRight(data-wow-duration="2s") Hiking Essentials

      h2.h2.wow.animate__fadeInRight(data-wow-duration="3s")(style="max-width: 555px") Picking the right Hiking Gear!

      p.text.wow.animate__fadeInRight(data-wow-duration="4s", style="visibility: hidden") The nice thing about beginning hiking is that you don’t really need any special gear, you can probably get away with things you already have.Let’s start with clothing. A typical mistake hiking beginners make is wearing jeans and regular clothes, which will get heavy and chafe wif they get sweaty or wet.


      a.link.link_accent.wow.animate__fadeInRight(href="#",data-wow-duration="5s", style="visibility: hidden")
        span read more
        img(src="../img/strelka.svg", alt="")
    
    div.info__img.wow.animate__zoomIn(data-wow-duration="2s", id="scene2",  data-relative-input="true")
      img(src="../img/content/2.png", alt="", data-depth="0,35")


section.info
  .container
    .info__content
      span.info__n.rellax(data-rellax-speed="-1") 03

      span.label.wow.animate__fadeInLeft(data-wow-duration="2s") where you go is the key

      h2.h2.wow.animate__fadeInLeft(data-wow-duration="3s")(style="max-width: 555px") Understand Your Map & Timing

      p.text.wow.animate__fadeInLeft(data-wow-duration="4s", style="visibility: hidden") To start, print out the hiking guide and map. If it’s raining, throw them in a Zip-Lock bag. Read over the guide, study the map, and have a good idea of what to expect. I like to know what my next landmark is as I hike. For example, I’ll read the guide and know that say, in a mile, I make a right turn at the junction..

      a.link.link_accent.wow.animate__fadeInLeft(href="#",data-wow-duration="5s", style="visibility: hidden")
        span read more
        img(src="../img/strelka.svg", alt="")
    
    div.info__img.wow.animate__zoomIn(data-wow-duration="2s", id="scene3",  data-relative-input="true")
      img(src="../img/content/3.png", alt="", data-depth="0,4")