body {
    counter-reset: info;
  }
  
  .info {
    padding: 100px 0;
  
    .container {
      display: flex;
      align-items: center;
    }
  
    &__content {
      
      padding-left: 150px;
      margin-right: 115px;
      position: relative;
      width: 60%;
  
      .info__n {
      
        font-weight: bold;
        font-size: 240px;
        line-height: 240px;
  
        color: #495459;
  
        position: absolute;
        left: 0;
        top: -110px;
        z-index: -1;
      }
      &__img {
        width: 40%;
      }
    }
  
    &:nth-child(even) {
      .container {
        flex-direction: row-reverse;
      }
  
      .info__content {
        margin-right: 0;
        margin-left: 115px;
      }
    }
  }