<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Подключение шрифтов -->

  <!-- Сброс стилей -->
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
  <!-- Подключаем наши стили -->
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <!-- Заголовок -->
  <h1 class="title">
    Your eCommerce <br> made simple
  </h1>
  
  <div class="d-flex">
    <!-- Карточка -->
    <div class="card">
      <!-- Картинка -->
      <img class="card__image" src="img/756129459371347.jpg" alt="">
      <!-- Абсолютно позиционированные картинки -->
      <img class="card__image_1" src="img/pay.png" alt="">
      <img class="card__image_2" src="img/pay2.png" alt="">
      <!-- Заголовок -->
      <h3 class="card__title">
        All You Need to Start
      </h3>
      <!-- Текст -->
      <p class="card__text">
        Add WooCommerce plugin to any WordPress site and set up a new store in minutes.
      </p>
      <!-- Ссылка -->
      <a href="#" class="card__link">
        Ecommerce for Wordpress ›
      </a>
    </div>
    <!-- Карточка -->
    <div class="card">
      <!-- Картинка -->
      <img class="card__image" src="img/card1.png" alt="">
      <!-- Абсолютно позиционированные картинки -->
      <img class="card__image_1" src="img/pay.png" alt="">
      <img class="card__image_2" src="img/pay2.png" alt="">
      <!-- Заголовок -->
      <h3 class="card__title">
        All You Need to Start
      </h3>
      <!-- Текст -->
      <p class="card__text">
        Add WooCommerce plugin to any WordPress site and set up a new store in minutes.
      </p>
      <!-- Ссылка -->
      <a href="#" class="card__link">
        Ecommerce for Wordpress ›
      </a>
    </div>
    <!-- Карточка -->
    <div class="card">
      <!-- Картинка -->
      <img class="card__image" src="img/thumbnail-tw-20181201011715-8161.jpg" alt="">
      <!-- Абсолютно позиционированные картинки -->
      <img class="card__image_1" src="img/pay.png" alt="">
      <img class="card__image_2" src="img/pay2.png" alt="">
      <!-- Заголовок -->
      <h3 class="card__title">
        All You Need to Start
      </h3>
      <!-- Текст -->
      <p class="card__text">
        Add WooCommerce plugin to any WordPress site and set up a new store in minutes.
      </p>
      <!-- Ссылка -->
      <a href="#" class="card__link">
        Ecommerce for Wordpress ›
      </a>
    </div>
  </div>
</body>
</html>