@import "../Fonts/stylesheet.css";
@import "../../node_modules/normalize.css/normalize";
@import "../scss/varibles.scss";
* {
 box-sizing: border-box;
}

img {
    max-width: 100%;
}
body {
    margin: 0;
    font-family: $main-font;
    font-weight: 700;
    color: $white;
    background: $dark;
}

.container {
    max-width: 1502px;
    margin: 0 auto;
    padding: 0 20px;
}

.wow {
    visibility: hidden;
  }
  
  .hide {
    visibility: hidden;
  }



@import "./blocks.scss";
@import "./utilits.scss";
@import "./media.scss";


 